= render partial: 'shared/messages'
= form_tag login_users_path do
  = label_tag 'email'
  = text_field_tag 'email'
  = label_tag 'password'
  = password_field_tag 'password'
  = submit_tag 'Sign In', class: 'button'

.row
  .small-6.columns
    %span.livicon{:'data-name' => "lock"}
    = link_to('Forgot Password?', password_users_path)
  .small-6.columns
    %span.livicon{:'data-name' => "user"}
    = link_to('Need to Sign Up?', register_users_path)
