= render partial: 'shared/messages'
= form_tag password_users_path do
  = label_tag 'email'
  = text_field_tag 'email'
  = submit_tag 'Reset Password', class: 'button'

.row
  .small-12.columns
    %span.livicon{:'data-name' => "key"}
    = link_to('Ready to Sign In?', login_users_path)
