%h1.subheader My Account

%h3.subheader Update Email
.row
  .small-10.large-5.columns
    #email-errors
    = form_tag update_email_users_path, :remote => true do
      = label_tag 'email'
      = text_field_tag 'email', @auth.email
      = submit_tag 'Update Email', class: 'button', id: 'submit-email'
  .small-2.large-7.columns

%h3.subheader Update Password
.row
  .small-10.large-5.columns
    #password-errors
    = form_tag update_password_users_path, :remote => true do
      = label_tag 'password'
      = password_field_tag 'password'
      = label_tag 'password_confirmation', 'Confirm Password'
      = password_field_tag 'password_confirmation'
      = submit_tag 'Update Password', class: 'button', id: 'submit-password'
  .small-2.large-7.columns

- if @auth.plan.present?
  %h3.subheader Cancel Subscription
  %p= "Plan: #{@auth.plan.name.capitalize}"
  .row
    .small-10.large-5.columns
      #cancel-subscription-errors
      = form_tag cancel_subscription_users_path, :remote => true do
        = submit_tag 'Cancel Subscription', class: 'button alert', id: 'submit-cancel-subscription'
    .small-2.large-7.columns
