%h1.subheader My Account

%h3.subheader Update Email
.row
  .small-10.large-5.columns
    #email_errors
    = form_tag update_email_users_path, :remote => true do
      = label_tag 'email'
      .row
        .small-8.columns
          = text_field_tag 'email', @auth.email
        .small-4.columns
          = submit_tag 'Update', class: 'button small radius expand', id: 'submit_email'
  .small-2.large-7.columns

%h3.subheader Update Password
.row
  .small-10.large-5.columns
    #password_errors
    = form_tag update_password_users_path, :remote => true do
      = label_tag 'password', 'New password'
      .row
        .small-8.columns
          = password_field_tag 'password'
        .small-4.columns
          = submit_tag 'Update', class: 'button small radius expand', id: 'submit_password'
  .small-2.large-7.columns

- if @auth.plan.present? && @auth.plan.name == 'group'
  %h3.subheader Group Management
  .row
    .small-10.large-5.columns
      = form_tag add_member_users_path, :remote => true do
        = label_tag 'member_email'
        .row
          .small-8.columns
            = text_field_tag 'member_email'
          .small-4.columns
            = submit_tag 'Add', class: 'button small radius expand success', id: 'submit_add_user'
      #member_list
        = render 'member_list'
    .small-2.large-7.columns

- if @auth.plan.present?
  %h3.subheader Cancel Subscription
  .row
    .small-10.large-5.columns
      #cancel_subscription_errors
      = form_tag cancel_subscription_users_path, :remote => true do
        = label_tag 'plan_name'
        .row
          .small-8.columns
            = text_field_tag 'plan_name', @auth.plan.name.capitalize, :disabled => true
          .small-4.columns
            = submit_tag 'Cancel', class: 'button small radius expand alert', id: 'submit_cancel_subscription'
    .small-2.large-7.columns
