- plan = Plan.where(name: params[:plan]).first
- is_group = plan.name == 'group'
- amount = is_group ? 5 * plan.amount : plan.amount

%table.full#confirmation
  %tr
    %td
      %strong Email
    %td= @auth.email
  %tr
    %td
      %strong Plan
    %td= params[:plan].capitalize
  %tr
    %td
      %strong Term
    %td= plan.timeframe.capitalize

  - if is_group
    %tr
      %td
        %strong Group Size
      %td#conf-group= 5
    %tr
      %td
        %strong Per Person
      %td#conf-amount{:'data-amount' => plan.amount}= number_to_currency(plan.amount)

  %tr
    %td
      %strong Total
    %td#conf-total= number_to_currency(amount)

= submit_tag 'Purchase Plan', class: 'button success', id: 'submit-payment'
